<!DOCTYPE html>
{% load static %}
<html lang="pt_BR">
<head id="header">
    <!-- PAGE INFO -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} {% endblock %}</title>

    <!-- Icones -->
    <link href="{% static 'icons/wfw-blue.png' %}" rel='icon'>

    <!-- Swiper -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- STYLES -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
            rel="stylesheet"
    />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

    <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- scrollreveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- main.js -->
    <script src="{% static 'js/main.js' %}"></script>


</head>
<body>

<nav id="nav-bar" class="navbar navbar-light navbar-expand-sm" style="background-color:#fae3fd;">
{#    <div class="container-fluid">#}
        <a class="navbar-brand" href="{% url 'base:home' %}">
            <img
                    src="{% static 'icons/wfw.png' %}"
                    alt="Simbolo da Campanha"
                    style="width:40px;height:40px;"
            />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav  mb-2 mb-lg-0">
                <a class="nav-item nav-link button" style="background-color:#fae3fd;" href="{% url 'base:sobre' %}">Sobre</a>
                <a class="nav-item nav-link button" style="background-color:#fae3fd;" href="{% url 'base:servicos' %}">Serviços</a>
                <a class="nav-item nav-link button" style="background-color:#fae3fd;" href="{% url 'base:depoimentos' %}">Depoimentos</a>
                <a class="nav-item nav-link button" style="background-color:#fae3fd;display: none;" href="{% url 'base:loja' %}"
                   >Loja</a>
                <a class="nav-item nav-link button" style="background-color:#fae3fd;" href="{% url 'base:apoiadores' %}"
                   >Apoiadores</a>
                <a class="nav-item nav-link button" style="background-color:#fae3fd;" href="{% url 'base:galeria' %}">Galeria</a>
                <a class="nav-item nav-link button" style="background-color:#fae3fd;" href="{% url 'base:contato' %}">Contato</a>
            </div>
            <div class="navbar-nav mb-2 mb-lg-0">
                <div class="navbar-nav me-1 mr-1 "><a class="button " role="button" href="{% url 'base:inscricao' slug='receba-ajuda' %}">Receber Ajuda</a></div>
                <div class="navbar-nav me-1 mr-1 "><a class="button" role="button" href="{% url 'base:inscricao' slug='apoie' %}">Apoie WFW</a></div>
            </div>

        </div>
{#    </div>#}
</nav>
{% block main %}{% endblock %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}
{% endif %}

<script>(function () {
    var s = document.createElement("script");
    s.setAttribute("data-account", "D3ku3Myh3Y");
    s.setAttribute("src", "https://cdn.userway.org/widget.js");
    document.body.appendChild(s);
})();</script>
<noscript>Enable JavaScript to ensure <a href="https://userway.org">website accessibility</a></noscript>
</body>
</html>
