{% extends 'base/base.html' %}
{% load static %}
{% block title %} Woman For Woman {% endblock %}

{% block main %}

    <div class="container grid">
        <div class="image">
            <img
                    src="{% static 'assets/fotos/01.jpeg'%}"
                    alt="As representantes do projeto"
            />
        </div>
        <cite>A indignação é total, mas só nos indignar não basta, precisamos agir.</cite>
        <div class="text ">
            <h2 class="title">A pobreza menstrual é real</h2>
            <p>
                Trabalhamos pela saúde e bem estar de pessoas em situação de vulnerabilidade social.
            </p>
            <p>
                O termo Pobreza Menstrual foi criado na França e abrange todos os efeitos que a pobreza e
                a vulnerabilidade social causam no ciclo menstrual.
            </p>
            <p>
                Podemos definir Pobreza Menstrual como a
                condição em que uma mulher não tem o direito ou acesso a absorventes ou a meios de se higienizar durante
                a menstruação.
            </p>
            <p>
                Quando ouve-se falar sobre Pobreza Menstrual, vez por outra é relacionado apenas como sendo um problema
                da população feminina, mas não é. A Pobreza Menstrual interfere direta e indiretamente em outros
                aspectos da sociedade.
            </p>
            <a class="button" href="{% url 'base:sobre' %}">Saiba mais</a>
        </div>

    </div>


{% endblock%}